* {
    box-sizing: border-box;
}
:root {
    --color1: #D89584;
    --color2: #F4F4F4;
}
body {
    margin: 0;
    font-family: Arial;
    line-height: 1.4;
}
iframe {
    width: 100%;
    border: none;
    height: 450px;

}
div.cover{
    background: url(cover_overlay.png) no-repeat center/100% 100%, url(cover.jpg) no-repeat center/cover ;
    height: 350px;
    position: relative;
}
img.cover-profile {
    height: 100px;
    position: relative;
    left: 50%;
    margin-left: -50px;
    margin-top: 30px;
}
h1 {
    color:white;
    text-align:center;
    font-size: 42px;
    margin-top: 8px;
    margin-bottom: 0;

}
div.cover p {
    color:lightgray;
    text-align: center;
    font-size: 14px;
}
div.cover-contact {
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}
div.cover-contact a {
    display: block;
    margin-top: 0px;
    color: white;
    font-size: 14px;
}
div.cover-contact a:first-child {
   margin-bottom: 10px; 
}
div.cover a.contact-button {
    color: var(--color1);
    background-color: rgba(0, 0, 0, 0.459);
    border: 2px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    margin-top: 18px;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 14px;
}
div.cover a.contact-button:hover {
    color: white;
    border: 2px solid white;
    letter-spacing: normal;
}
div.line {
    border-top: 1px solid #979797;
    width: 200px;
    position: relative;
    left: 50%;
    margin-left: -100px;
}
div.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
div.gray-section-1 {
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);
    padding-bottom: 150px;
}
div.gray-section-1 p {
    max-width: 520px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: #656565;
}
div.gray-section-2 {
    background: url(triangle1white.svg) no-repeat center top/100%;
    background-color: var(--color2);
    padding-top: 150px;
}
h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0;
}
.col40 {
    width: 40%;
}
.col60 {
    width: 60%;
    padding-left: 15px;
}
.float-right {
    float: right;
}
div.text-with-vertical-line {
    border-left: 4px solid var(--color1);
    padding-left: 15px;
    height: 50px;
    display: inline-block;
}
div.text-with-vertical-line p {
    margin-top: 0;
}
div.vertical-bar {
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 15px;
}
table.col-portfolio {
    display: inline-block;
    width: 36%;
}
div.frame {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.frame img {
    width: 35%; 
    margin-top: 6%;
    
}

/* PORTFOLIO */

div.portfolio-header {
    background: url(header.jpg) no-repeat center/cover;
    height: 90px;
    position: relative;
}
div.portfolio-header a.contact-button:hover {
    color: white;
    border: 2px solid white;
    letter-spacing: normal;
}
p.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 4px;
}
div.portfolio-header a.contact-button {
    color: var(--color1);
    background-color: rgba(0, 0, 0, 0.459);
    border: 2px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    margin-top: 23px;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 14px;
}
h1.portfolio {
    color:black;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-size: 50px;
}
h2.portfolio {
    font-weight: normal;
    font-size: 28px;
    margin-top: 20px;
}
div.portfolio-back a {
    color: var(--color1);
    position: absolute;
    left: 20px;
    top:110px;
}

div.portfolio-gray-section-1 {
    background: url(triangle2white.svg) no-repeat center bottom/100%;
    background-color: var(--color2);
    padding-bottom: 100px;
}
div.portfolio-section {
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
div.portfolio-img-restaurant img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 60%;
}
div.portfolio-img-restaurant a.center {
    display: block;
    text-align: center;
}

/*Resposive designe: mobile */
@media only screen and (max-width: 768px) {
    img.cover-profile {
        height: 90px;
        margin-top: 75px;
    }
    h1 {
        font-size: 38px;
        margin-top: 6px;
    }
    .col40 {
        display: block;
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }
    .col60 {
        display: block;
        text-align: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
    }
    .float-right {
        float: none;
    }
    div.text-with-vertical-line {
        display: block;
        text-align: center;
        border-left: 4px solid var(--color1);
        height: 40px;
        display: block;    
    }
    iframe {
        width: 100%;
        border: none;
        height: 250px;
    }
    table.col-portfolio {
        display: block;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    div.frame {
        background-color: white;
        margin: 0px ;
        padding: 0px ;
        box-shadow: none;

    }
    div.frame img {
        width: 70px;
        margin-top: 50px;
        margin-right: 6px;
    }
    div.portfolio-header {
        height: 60px;
    }
    div.portfolio-header a.contact-button:hover {
        color: white;
        border: 2px solid white;
        letter-spacing: normal;
    }
    p.portfolio-header-title {
        text-align: left;
        font-size: 17px;
        font-weight: bold;
        color: white;
        padding-top: 12px;
    }
    div.portfolio-header a.contact-button {
        color: var(--color1);
        background-color: rgba(0, 0, 0, 0.459);
        border: 2px solid var(--color1);
        padding: 4px 8px;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        letter-spacing: 1px;
        font-size: 12px;
    }
    h1.portfolio {
        color:black;
        letter-spacing: 2px;
        margin-bottom: 10px;
        font-size: 40px;
    }
    h2.portfolio {
        font-weight: normal;
        font-size: 28px;
        margin-top: 20px;
    }
    div.portfolio-back a {
        color: var(--color1);
        position: absolute;
        left: 10px;
        top:90px;
    }
    
    div.portfolio-gray-section-1 {
        background: url(triangle2white.svg) no-repeat center bottom/100%;
        background-color: var(--color2);
        padding-bottom: 50px;
    }
    div.portfolio-section {
        width: 50%;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        padding-bottom: 550px;
    }
    div.portfolio-img-restaurant img {
        display: block;
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        max-width: 60%;
    }
    div.portfolio-img-restaurant a.center {
        display: block;
        text-align: center;
    }
}